div{
    height: 800px;
    width: 1250px;
}
img{
    height: 100%;
    width:100%
}
#i2{
    height: 300px;
    width: 500px;
    position: fixed;
    top:30%;
    left:28%;
}
button{
    height: 50px;
    width: 80px;
    position: fixed;
    top:55%;
    left:45%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    text-decoration: line-through;
    text-shadow: 3px 3px 8px black;
    font-size: 15px;
}
#i2:hover{
    transition: 1s;
    transform: scale(2);
}
button:hover{
    transition: 1s;
    transform: scale(3);
    text-decoration: none;
    text-transform: capitalize;
}